torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
numpy==2.0.2
nvidia-nccl-cu12==2.21.5
pillow==11.1.0
wandb==0.19.7
tensorboardX==2.6.2.2
catalyst @ git+https://github.com/neuroneural/catalyst.git@326b7dc8d4ba48e8aefe0fa69c65d7f11f9060bb
mindfultensors==0.0.11
pymongo==4.11
nibabel==5.3.2
pynvml==12.0.0
scipy==1.13.1
